
html{
    font-family: 'alata';
}
h1{
    font-size: 40px;
    line-height: 55px;

}
h2{
    font-size: 24px;
    line-height: 33px;  
}
p{
    font-size: 16px;
    line-height: 24px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    background-color: #000000ec;
    box-shadow: 0px 1px 4px #000000;
}

.titulo{
padding: 0px 10px;
color: #DFDFDF;
}

.list-subtitle{
    align-content: flex-start;
    padding: 20px 0px;
}
.links{
    justify-content: space-around;
    padding: 0px 10px;

}

a{
    color: #DFDFDF;
    padding: 6px;
}

.section-about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;

    width: 100%;
    height: 360px;
    background: #000000cc;
}

.perfil{ 
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    width: 300px;
    height: 300px;
    margin: 40px;
}

.about{
    padding-right: 100px;
    text-align: justify;
    align-items: center;
    min-width: 440px;
    color: azure;
}

.section-lists{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;

    width: 100%;
    height: 400px;
    
    background-color: #0000003b;
}

.hobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.jogos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    
}


.nome-vitrine{
    width: 110px;
    min-height: 48px;
    text-align: center;
    position: absolute;
    
    color: #ffffff;
    text-shadow: 1px 1px 0.5px#000000;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    background: #DFDFDF;
    border-radius: 5px;
    
}

.vitrine{
    width: 108px;
    height: 194px;
    border-radius: 5px;
    z-index: 0;
}

.retangulo{
    position: absolute;
    padding-top: 6px;
    text-align: center;
    width: 19px;
    height: 40px;
    background: #ddeb23;
    border-radius: 0px 0px 5px 5px;
    top:0;
    left:4%;
    z-index: 2;
}

.top{
    position: relative;

}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    
    
    background: #000000ee;
}

.redes-sociais{
    padding-left: 10px;
}

.contato{
    padding: 10px;
    background-color: #222222;
    margin-right: 10px;
    border-radius: 5px;
}

.extra{
    display: none;
}

@media (max-width:1206px) {

    .section-about{
        padding-top: 20px;
        flex-direction: column;
        height: unset;
        gap: unset;

    }

    .about{
        padding: 70px;

    }

    .section-lists{
        flex-direction: column;
        height: unset;
        padding-bottom: 20px;

    }
    .hobbies{
        align-items: flex-start;

    }

    footer{
        flex-direction: column-reverse;
        padding: 20px;
        justify-content: center;
    }
    
    .redes-sociais{
        padding: unset;
    }

    .contatos{
        margin: unset;
    }

}